/* general */


body {
  display: flex;
  flex-direction: column;
  /* check flex-dir */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100vh;
  width: 100%;
  
}



main {
  flex-grow: 1;
  /* makes this section take up as much space as it can. */
  display: flex;
  /* it has to be a flex container as well. */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-right: 100px solid rgb(236, 229, 229);
  border-left: 200px solid rgb(236, 229, 229);
  background-color: rgb(236, 229, 229);
}


section {
  display: flex;
  /* we want it to be row so we leave it as is by default. */
  margin-bottom: 30px;
}



.hero {
  height:500px;
  width:100%;
  background-image: url("../css/images/annie-spratt-OTy0mkqc2Yk-unsplash.jpg");
  background-color: rgb(113, 113, 179);
  background-size: cover;
  background-position: left;
  border-bottom: 20px solid rgb(236, 229, 229);
  /* add background image that fits the size */
}

footer {
  background-color: rgb(99, 188, 180);
  font-size: 50px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: aquamarine;
}

a:active {
  color:rgb(201, 119, 119);
}

/* end general */


/* specific elements */

.Profile-Picture {
  width: 40px;
  height: 50px;
  border-radius: 30px;
  vertical-align: middle;
}

.AboutMe {
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  border-top: 20px solid rgb(236, 229, 229);
  justify-content: space-between;
  /* flex-basis: 50%; */
}

.AboutMe div {
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: 50%; */

}


.Work {
  display: flex;
  /* flex-wrap: wrap;   */
  justify-content: space-between;
  /* flex-basis: 50%; */
}

.Picture-Structure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* flex-basis: 50%; */
}


.Picture-Text-Work{
  /* display: inline-block; */
  position:relative;
  text-align: center;
  color: black;
  font-size: 20px;
  border: 10px solid rgb(236, 229, 229);
}


.PositionOfTextOnImages {
  /* display: inline-block; */
  position: absolute;
  bottom: 30px;
  left: 0px;
  background-color: rgb(99, 188, 180);
  padding: 10px;
}

.Picture-Text-Work img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.small-text {
  font-size: 10px;
  text-align: left;
  padding-top:5px;
}


img {
  width: 400px;
  height: 150px;
  background-color: rgb(113, 113, 179);
  border: 3px solid rgb(136, 204, 193);
}

.Surf-Report {
  display: inline-block;
  width: 100%;
  height: 400px;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .Surf-Report { 
    width: 400px;
    height: 300px;
    /* flex-direction: column; */
    /* Surf-report image grows or shrinks for responsiveness. */
  }
}
@media screen and (max-width: 500px) {
  img, .Surf-Report{
    width: 120%;
  }
}
/* 
@media screen and (max-width: 500px) {
  main{
  border-right: 50px; 
  border-left: 50px;
}
} */


.ContactMe {
  display: flex;
  /* flex-wrap: wrap; */
  /* do i need the display and wrap in here??????? */
  justify-content: space-between;
  /* align-self: center; */
  /* aligns the text next to the title of each section
  in the same height */
  width: 100%;
}


.ContactMe div {
  display: flex;
  text-decoration: underline;
  flex-wrap: wrap;
  column-gap: 50px;
  font-size: 20px;
  text-align: center;

}

  /* @media screen and (max-width: 768px) {
    .ContactMe{ 
      flex-direction: column;
    }
}
 */

.side-border {
  display: flex;
  border-right: 3px solid rgb(97, 97, 143);
  float: left;
  margin-right: 30px;
  align-content: left;
  font-size: 50px;
  /* justify-content: flex-start; */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

@media screen and (max-width: 768px) {
  .side-border {
    border-right: none;
    text-decoration: underline 5px solid rgb(97, 97, 143);
  }
}


@media screen and (max-width: 768) {
  .AboutMe .Work .ContactMe {
    flex-wrap: wrap;
  }
};
  

/* a div is a block element, so we want to convert it into inline-block */


/* TO DOs
2. Side Border how to put them fixed
3. Responsiveness
5. Text on images
*/

/* space under about me */