header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* nav bar goes all the way to the right */
  background-color: var(--redish);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  /* padding: 1%; */
  color: var(--letter-gray);
} 

h1 {
  font-size: 70px;
  padding-left: 20px;
}


nav ul {
  display: flex;
  font-size: 30px;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: var(--letter-gray);  
  padding-right:20px;
  padding-left: 20px;
  /* padding-left on nav a helps align the letters vertically with h1
  when in small screen. */


}

nav li {
  list-style-type: none;
  
}

@media screen and (max-width: 768px) {
  nav ul { 
    flex-direction: column;
  }
}

/* general */

*{ 
  --beige: rgb(247, 240, 237);
  --redish: rgb(146, 106, 106);
  --letter-gray: rgb(60, 62, 62);
  --blueish: rgb(86, 106, 119);
  
}
/* added variables to use same colors multiple times.  */


body {
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  box-sizing: border-box;
}



main {
  flex-grow: 1;
  /* makes this section take up as much space as it can. */
  display: flex;
  /* it has to be a flex container as well. */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--beige);
  color: var(--letter-gray);
}


section {
  display: flex;
  /* we want it to be row so we leave it as is by default. */
  margin-bottom: 30px;
}



.hero {
  height:500px;
  background-image: url("../images/annie-spratt-OTy0mkqc2Yk-unsplash.jpg");
  background-color: var(--redish);
  background-size: cover;
  background-position: left;
  border-bottom: 20px solid var(--beige);
  /* add background image that fits the size */
}

footer {
  background-color: var(--redish);
  color: var(--letter-gray);
  font-size: 50px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--beige);
}

a:active {
  color:var(--beige);
}

/* end general */


/* specific elements */

.Profile-Picture {
  width: 40px;
  height: 50px;
  border-radius: 30px;
  vertical-align: center;
}

.AboutMe {
  display: flex;
  flex-wrap: wrap;
}

.AboutMe div {
  display: flex;
  flex-wrap: wrap;
  flex: 4;

}


.Work {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;
  align-items: stretch;
}

.Picture-Structure {
  flex: 0 0 77%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.flex-item {
  min-width: 250px;
  min-height: 250px;
  flex-basis: calc(50% - 1rem);
  margin: .5rem;
  position: relative;
}

.PositionOfTextOnImages {
  position: absolute;
  bottom: 30px;
  left: 0px;
  background-color: var(--redish);
  padding: 10px;

  /* Position absolute so that the text can stay in one place in relation to the image, w
  which has position relative in Picture-Text-Work. */
}

.flex-item:hover {
  opacity: 0.8;
  cursor: pointer;
  /*  When visitor hovers over images, they change opacity 
  and have a pointer to click on them. */
}

.PositionOfTextOnImages:hover {
  background-color: var(--blueish);
  color: rgb(30, 21, 21);
}


.small-text {
  font-size: 10px;
  text-align: left;
  padding-top:5px;
}


.ContactMe {
  display: flex;
  flex-wrap: wrap;

}


.ContactMe div {
  flex:4;
  display: flex;
  text-decoration: underline;
  flex-wrap: wrap;
  column-gap: 30px;
  font-size: 20px;
  align-items: center;
  /* aligns the text next to the title of each section
  in the same height */
}

  
.side-border {
  border-right: 3px solid var(--blueish);
  margin-right: 30px;
  text-align: right;
  font-size: 50px;
  flex-basis: 20%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ResumePDF {
  display: flex;
  flex-wrap: wrap;
}

.ResumePDF div {
  flex: 4;
  display: flex; 
  align-items: center;
  font-size: 20px;
}


/* Side border has a flex of 1 to have that much space of the screen at all times, 
while the rest of the page has a flex of 4 to take up the rest of the space. 
These two section are separated by the border-right found in the class of side-border. */

#img-1 {
  min-height: 400px;
  flex-basis: 100%;
  background-image: url("../images/data-streams-1633769.jpg");
  background-position: center;  
}

#img-2 {
  background-image: url("../images/programming-1962938.jpg");
  background-size: 100%;
  width: 100%;
}

#img-3 {
  background-image: url("../images/i-o-session-ii-lost-bits-4-1242064.jpg");
  background-size: 100%;
}

#img-4 {
  background-image: url("../images/keyboard-with-sphere-1241564.jpg");
  background-size: 100%;
}

#img-5 {
  background-image: url("../images/binary-code-3-1241802.jpg");
  background-size: 100%;
}


  @media screen and (max-width: 1080px) {

    .side-border {
      border-right: none;
      text-decoration: underline 5px solid var(--blueish);
    }
  
    .AboutMe, .Work, .ContactMe, .ResumePDF {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: start;
    }
    
    .flex-item {
      flex-basis: 100%;
    }
    
    #img-1 {
      min-width: 250px;
      min-height: 250px;
    
    }
  }
  /* Changing the layout of the page when screen is smaller. Using two different sizes to add additional changes when the screen becomes as small as that of a mobile. */
  
@media screen and (max-width: 500px) {
  img{
    width: 100%;
  }

  .ContactMe div{ 
    flex-direction: column;
    align-items: start;

  }

}

